1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "Ga1maz.ru"
            VALUE "FileDescription", "Funday App"
            VALUE "FileVersion", "1.0.0"
            VALUE "LegalCopyright", "Copyright © 2025 Ga1maz.ru"
            VALUE "ProductName", "Funday App"
            VALUE "ProductVersion", "1.0.0"
        }
    }
}